@{
    ViewData["Title"] = "Home Page";
}
    <div class="container">

        <h2>Hosts</h2>
        <div class="row">
            <div class="col-md-6">

                <div class="card" >
                    <img src="~/img/Chris.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Chris Gomez</h5>
                        <p class="card-text">
                            A Microsoft MVP and software developer with twenty-five-plus years experience. Community speaker with a passion for teaching fellow developers how to harness new software technology. Always looking to give back to and learn from the next generation of developers (including youth and career-changing adults).
                        </p>
                        <ul class="list-unstyled">
                            <li>Twitter</li>
                            <li>LinkedIn</li>
                            <li>other</li>
                            <li>other</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card" >
                    <img src="~/img/Rich.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Rich Ross</h5>
                        <p class="card-text">Rich Ross is Technology Architect at the Microsoft Technology Center (MTC) in Philadelphia. He spends much of his time talking to customers about their challenges, architecting Azure solutions and building innovative applications to showcase technologies. Rich has more than 25 years of business and IT experience in the pharmaceutical and healthcare industry. He is a contributor to many local user groups including Philly.net and TriState SharePoint. Rich also helps to organize and run Philly .net Code Camp, a bi-annual event for developers and businesses in the Mid-Atlantic area.</p>
                        <ul class="list-unstyled">
                            <li>Twitter</li>
                            <li>LinkedIn</li>
                            <li>other</li>
                            <li>other</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
