@{
    ViewData["Title"] = "Home Page";
}
    <div class="container">

        <h2>Hosts</h2>
        <div class="row">
            <div class="col-md-4">

                <div class="card">
                    <img src="~/img/Chris.jpg" class="card-img-top" alt="Chris Gomez">
                    <div class="card-body">
                        <h5 class="card-title">Chris Gomez</h5>
                        <p class="card-text">
                            A Microsoft MVP and software developer with twenty-five-plus years experience. Community speaker with a passion for teaching fellow developers how to harness new software technology. Always looking to give back to and learn from the next generation of developers (including youth and career-changing adults).
                        </p>
                        <ul class="list-unstyled">
                            <li><a href="https://twitter.com/spaceshot">twitter @@spaceshot</a></li>
                            <li><a href="https://www.linkedin.com/in/christopher-gomez-113a73/">linkedin</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <img src="~/img/Rich.jpg" class="card-img-top" alt="Rich Ross">
                    <div class="card-body">
                        <h5 class="card-title">Rich Ross</h5>
                        <p class="card-text">Rich Ross is Technology Architect at the Microsoft Technology Center (MTC) in Philadelphia. He spends much of his time talking to customers about their challenges, architecting Azure solutions and building innovative applications to showcase technologies. Rich has more than 25 years of business and IT experience in the pharmaceutical and healthcare industry. He is a contributor to many local user groups including Philly.net and TriState SharePoint. Rich also helps to organize and run Philly .net Code Camp, a bi-annual event for developers and businesses in the Mid-Atlantic area.</p>
                        <ul class="list-unstyled">
                            <li><a href="https://twitter.com/rich_ross">twitter @@rich_ross</a></li>
                            <li><a href="https://www.linkedin.com/in/rrossmsft/">linkedin</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <img src="~/img/Andy-sq.jpg" class="card-img-top" alt="Andy Schwam">
                    <div class="card-body">
                        <h5 class="card-title">Andy Schwam</h5>
                        <p class="card-text">Andy Schwam is a Microsoft Developer Technologies MVP (since 2010) and ASP Insider. He is an experienced speaker, trainer, blogger, and conference organizer. As AVP Enterprise Architecture, he is responsible for moving the IT department forward through the use of new technology, best practices, DevOps and the Cloud. Additionally, Andy is a founding board member and organizer of TechBash, an annual conference for developers. He has been creating software applications since 1999. </p>
                        <ul class="list-unstyled">
                            <li><a href="https://twitter.com/schwammy">twitter @@schwammy</a></li>
                            <li><a href="https://www.linkedin.com/in/andrewschwam/">linkedin</a></li>
                            <li><a href="http://www.schwammysays.net">blog</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
